<div class="forgot-content">
  <div class="title">
    <h1>TeamSphere</h1>
  </div>

  <div class="forgot-card">
    <p class="inscription">Mot de passe oublié?</p>
    <p>Nous vous enverrons un e-mail avec un lien pour réinitialiser votre mot de passe.</p>
    <div>

      <div class="input-container">
        <div class="champs">
          <mat-form-field>
            <mat-label>Entrez votre email</mat-label>
            <input matInput placeholder="pat@example.com" [(ngModel)]="email" name="email" required>
            <mat-error *ngIf="!emailIsValid(email)">Not a valid email address</mat-error>
          </mat-form-field>
        </div>
        <div class="button-container">
          <button class="button-primary" type="submit" mat-button color="primary">Réinitialiser le mot de passe</button>
        </div>

      </div>
    </div>
  </div>
