.home-content{
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  width: 80vw;
  margin: auto;

  .welcome{
    font-size: 25px;
    margin: 40px;
    color: rgb(19, 66, 111);
  }
  }

.sidebar{
  background: rgb(19, 66, 111);
  height: calc(100vh - 80px);
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 20px;
  font-weight: bold;
  .menu{
    color: white;
    margin: 5px;
  }
  .menu:hover{
    color: rgb(19, 66, 111);
    cursor: pointer;
  }
  .active{
    color: rgb(19, 66, 111);
  }
  .logout{
    color: white;
    margin: 5px;
    cursor: pointer;
  }
  .logout:hover{
    color: rgb(19, 66, 111);
  }
}

