header{
  background: rgb(19, 66, 111);
  height: 80px;
display: flex;
align-items: center;
  justify-content: space-between;
  color: #FFFFFF;

h1{
  font-size: 35px;

  margin-left: 20px;
font-family: Pacifico;
}

  .menu{
    color: white;
    margin: 5px;


  }

}
