:root {

  // colors

  $linear: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 60%, rgba(0, 212, 255, 1) 100%);
  $color-primary: #0D6EFD;
  $color-secondary: #0D6EFD;
  $color-tertiary: #FFFFFF;
  $color-quaternary: #000000;

  //fonts
  $font-primary: 'Pacifico', cursive;
  $font-secondary: 'Roboto', sans-serif;
  $font-size-primary: 15px;
  $font-size-secondary: 30px;


  //sizes
  $size-primary: 15px;
  $size-secondary: 30px;
  $title: 30px;


  //margins
  $margin-primary: 1.5rem;
  $margin-secondary: 1rem;

  //borders
  $border-primary: 10px;
  $border-secondary: 5px;


  //box-shadow

rgba(6, 24, 44, 0.4) 0 px 0 px 0 px 2 px, rgba(6, 24, 44, 0.65) 0 px 4 px 6 px - 1 px, rgba(255, 255, 255, 0.08) 0 px 1 px 0 px inset;

}









