<div class="login-content">
  <div class="title">
    <h1>TeamSphere</h1>
  </div>

  <div  class="login-card">
    <h4>Connexion</h4>
    <input (click)="login()" class="button" type="submit" name="login" value="Se connecter">
    <input (click)="register()" class="button" type="submit" name="login" value="S'inscrire">
    <form *ngIf="log" action="index.php" method="post">
      <input class="input" type="text" name="username" placeholder="Nom d'utilisateur" required>
      <input class="input"type="password" name="password" placeholder="Mot de passe" required>

    </form>

    <form *ngIf="reg" action="index.php" method="post">
      <input class="input" type="text" name="username" placeholder="Nom d'utilisateur" required>
      <input class="input"type="password" name="password" placeholder="Mot de passe" required>
      <input class="input"type="password" name="password" placeholder="Confirmer le mot de passe" required>
      <input class="input"type="email" name="email" placeholder="Adresse email" required>
    </form>
  </div>



</div>
